@model IEnumerable<SchoolSystem.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>
<form method="get" asp-controller="Students" asp-action="Index" class="mb-3 col-4">
    <label>Page Size</label>
    <input type="number" placeholder="Page Size" class="form-control" name="pageSize" value="@ViewBag.pageSize" />
    <label>Page Number</label>
    <input type="number" placeholder="Page Number" class="form-control" name="pageNumber" value="@ViewBag.pageNumber" />
    <div class="input-group ">
            <input type="text" placeholder="Search" class="form-control" name="search" value="@ViewBag.search" />
            <br />
        <button type="submit" class="btn btn-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                <div style="width:50%;float:left">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div style="width:50;float:right;text-align:right">
                    <a style="text-decoration:none;" asp-action="Index" asp-route-sortType="Name" asp-route-sortOrder="asc"
                       asp-route-search="@ViewBag.search" asp-route-pageNumber="@ViewBag.pageNumber" asp-route-pageSize="@ViewBag.pageSize">
                        <i class="bi bi-arrow-up"></i>
                    </a>
                    <a style="text-decoration:none;" asp-action="Index" asp-route-sortType="Name" asp-route-sortOrder="desc"
                       asp-route-search="@ViewBag.search" asp-route-pageNumber="@ViewBag.pageNumber" asp-route-pageSize="@ViewBag.pageSize">
                        <i class="bi bi-arrow-down"></i>
                    </a>
                </div>

            </th>
            <th>
                <div style="width:50%;float:left">
                    @Html.DisplayNameFor(model => model.Age)
                </div>
                <div style="width:50;float:right;text-align:right">
                    <a style="text-decoration:none;" asp-action="Index" asp-route-sortType="Age" asp-route-sortOrder="asc"
                       asp-route-search="@ViewBag.search" asp-route-pageNumber="@ViewBag.pageNumber" asp-route-pageSize="@ViewBag.pageSize">
                        <i class="bi bi-arrow-up"></i>
                    </a>
                    <a style="text-decoration:none;" asp-action="Index" asp-route-sortType="Age" asp-route-sortOrder="desc"
                       asp-route-search="@ViewBag.search" asp-route-pageNumber="@ViewBag.pageNumber" asp-route-pageSize="@ViewBag.pageSize">
                        <i class="bi bi-arrow-down"></i>
                    </a>
                </div>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-list-ul"></i></a> |
                    <a asp-action="DeleteView" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-trash"></i></a> |
                <form method="post" asp-action="Delete" asp-route-id=@item.Id class="d-inline">
                    <input type="hidden" asp-for="@item.Id"/>
                        <button type="submit" onclick="return ConfirmDelete()" class="btn btn-danger">Immediate Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success">Create New <i class="bi bi-person-plus-fill"></i></a>
</p>
@section Scripts{
    <script>
        function ConfirmDelete() {
            let deleteConfirmed = confirm("Are you want to delete?");
            return deleteConfirmed

        }
    </script>
}